body{
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(135deg, rgb(226, 164, 84), #e57373, #64b5f6);
margin: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


form{

margin: 15px;
background-color:aquamarine ;
padding: 20px;
border-radius: 10px;
box-shadow: 1px 1px 10px black;
width: 350px;



}


label{

display: block;
margin-bottom: 10px;

}

input{

width: 100%;
padding: 8px;
margin-bottom: 15px ;
box-sizing: border-box;

}

input[type="submit"]{
background-color: rgb(4, 71, 71);
color: white;
border: none;
cursor: pointer;
transition: all .5s ease;

}
input[type="submit"]:hover{
background-color: rgb(9, 128, 128);
}

.error-message{
color: red;
margin-top: -10;
margin-bottom: 10px;
    font-size: 10px;
    display: none;
}

